body{
    background-color: rgb(19, 195, 48);
}

.linkdestacacursos{

    background-color: #f00;
    color: rgb(51, 240, 240);
    font-weight: bold;
    margin-left: 25px;
}

.linkdestacaejemplos{

    background-color: rgba(246, 12, 79, 0.933);
    font-weight: bold;
    margin-left: 25px;

}

a{
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
}

table{
    text-align: center;
    border: none;
}

td{
    border: none;
}

#contieneEnlaces{
    position: absolute;
    left: 31px;
    top: 65px;
    width: 400px;
    height: 649px;
    z-index: 1;
    padding: 10px;
}