
body{
    background-color: blueviolet;
    display: flex;
    height: 100px;
    width: 100px;
}
.contenedor{
    display: flex;
    margin: 100px;
    font-family: sans-serif;
    margin-top: 100px;
    align-content: center;
    justify-content: flex-start;
    box-shadow: 10px;
}
.p2{
    font-family: sans-serif;
}
.p{
    font-family: sans-serif;
    background-color: rgb(31, 200, 39); 
}



